In [12]:
import pandas as pd

In [13]:
log = pd.read_csv("log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])  
# Пропущенная строка  
log['time'].head()

13    2019-01-02 08:57:36
28    2019-01-04 13:59:42
150   2019-01-16 21:54:22
188   2019-01-21 18:34:44
204   2019-01-22 05:26:59
Name: time, dtype: datetime64[ns]

In [25]:
year_column = log['time'].apply(lambda x: x.year)

SyntaxError: invalid non-printable character U+00A0 (855218041.py, line 1)

In [15]:
year_column = log['time'].dt.year

SyntaxError: invalid non-printable character U+00A0 (182499243.py, line 1)

In [16]:
test = pd.Series([1, 1, 1, 2, 3, 4, 4])  
test.value_counts()

1    3
4    2
2    1
3    1
dtype: int64

In [17]:
# ваш код здесь
log = pd.read_csv('log.csv',header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log=log.dropna()
def code(time):
    if type(time) != float:
        return time.replace("[","")
log.time=log.time.apply(code)
log.time = pd.to_datetime(log.time)
log['hour'] = log.time.dt.hour

In [18]:
log['bet'].fillna(0)

14      145732.0
29     1678321.0
151        100.0
189        200.0
205        300.0
         ...
967       1000.0
971      10554.0
972      10354.0
976      10354.0
991        800.0
Name: bet, Length: 133, dtype: float64

In [19]:
def fillna_win(row):  
	# Нужно дописать  
      
# Применяем функцию  
new_win = log.apply(lambda row: fillna_win(row), axis=1)  
      
# Заменяем старый столбец с пропусками на новый без пропусков  
log['win'] = new_win

IndentationError: expected an indented block (2855611545.py, line 5)

In [20]:
log['net'] = # здесь должен быть код, создающий новый признак

SyntaxError: invalid non-printable character U+00A0 (2226688295.py, line 1)

In [21]:
# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])

NameError: name 'us' is not defined

In [22]:
pd.merge(dataframe1, dataframe2, on='feature_name')

SyntaxError: invalid non-printable character U+00A0 (1952760074.py, line 1)

In [23]:
df.groupby('user_id').win.median().median()

NameError: name 'df' is not defined

In [24]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log['bet'].fillna(0).value_counts()
def fillna_win(row):  
    #print(-row['bet'])
    if row['bet'] != row['bet']:
        row['bet'] = 0
        row['win'] = 0
    if (row['win'] != row['win']) & (row['bet'] != 0):
        row['win'] = -row['bet']
    if row['bet'] != row['bet']:
        row['win'] = 0
    return row
  
# Применяем функцию  

log = log.apply(lambda row: fillna_win(row), axis=1)  
def calculate_net(row):  
    net = row['win'] - row['bet']
    if row['win'] < 0:
        net = row['win']

    return net

def code(time):
    if type(time) != float:
        return time.replace("[","")
log.time=log.time.apply(code)

# Применяем функцию  

log['net'] = log.apply(lambda row: calculate_net(row), axis=1)

users = pd.read_csv('users.csv', sep ='\t' ,encoding = 'KOI8-R')
users.columns = ['user_id','mail','geo']
# Избавимся от ошибок в user_id  
users.user_id = users.user_id.apply(lambda x: x.lower())  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1]) 

df = pd.merge(log,users,on='user_id')
sample2 = df.groupby('geo').bet.count()